// Grand Central Station, Main, Vertex, Canon, etc. 
@import "normalize";
@import "google-homepage";


/* Styling */
body {
    background: #ffffff;
}

/
/ Stage (Parent)
#stage {
    background: white;
    position: relative;
   
}

// Child
#stage svg {
    position: absolute;
    bottom: 0;
    right: 0;
}

// Child
#stage h1 {
    position: absolute;
    top: 100%;
    left: 100%;
}

// Animations Go Here
// First Frame
#stage h1,
#stage svg {
    opacity: 0;
    transition: opacity 1;    
}

// Last Frame
#stage:hover h1, 
#stage:hover svg {
    opacity:1;
}









